.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  inline-size: 100%;
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerText {
  color: var(--color-inverted-primary);
  font: var(--font-header-2);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardContent {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.cardTitle {
  padding-inline-start: 14px;
  color: var(--color-inverted-primary);
  font: var(--font-header-4);
}

.card {
  position: relative;
  display: flex;
  min-block-size: 116px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    z-index: 1;
    background-color: var(--color-black-out-light);
    transition: background-color linear 0.2s;
  }

  &:hover {
    .cardTitle {
      font: var(--font-accent);
    }

    &::before {
      background-color: var(--color-black-out-mid);
    }
  }
}

.award {
  background-image: url('/images/posters/award.png');
}

.video {
  background-image: url('/images/posters/video.png');
}

.projects {
  background-image: url('/images/posters/projects.png');
}

.children {
  background-image: url('/images/posters/children.png');
}
