.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  inline-size: 100%;
  padding: 16px;
  padding-block-start: 80px;
  overflow-y: auto;
}

.pageHeader {
  position: fixed;
  inset: 0;
  inset-block-end: initial;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font: var(--font-header-3);
  background-color: var(--color-primary);
}

.settingsIcon {
  color: var(--color-inverted-primary);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: var(--font-header-3);
}

.recommendations {
  display: flex;
  flex-direction: row;
  gap: 16px;
  inline-size: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.recommendation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.caption {
  display: flex;
  flex-direction: column;
}

.title {
  font: var(--font-body);
}

.author {
  font: var(--font-caption);
}

.feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.feedItem {
  inline-size: 100%;
  block-size: 164px;
  background-color: var(--color-generic);

  &:last-child {
    margin-block-end: 78px;
  }
}
