.checkIcon {
  inline-size: 24px;
  block-size: 24px;
  color: var(--color-success);
}

.hintIcon {
  inline-size: 24px;
  block-size: 24px;
  color: var(--color-generic-active);

  &.active {
    color: var(--color-primary);
  }
}
