.button {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.inputWrapper {
  border: 1px solid var(--color-generic-active);
}
