.page {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding: 16px;
  font: var(--font-body);
}

.addPost {
  margin-block-end: 16px;
}

.tabsContentWrapper {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  margin-block: 32px 76px;
  overflow-y: auto;
}
