.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  block-size: 100vh;
  background: url('/images/onBoardImg.png') no-repeat center;
  background-size: cover;
}

.container::before {
  position: absolute;
  inset: 0;
  content: '';
  z-index: -1;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--color-black-out-mid);
}

.header {
  margin-block-start: 79px;
  color: var(--color-inverted-primary);
  font: var(--font-header-2);
  text-align: center;
}

.header2 {
  margin-block-start: 16px;
  color: var(--color-inverted-primary);
  font: var(--font-header-1);
}

.text {
  position: absolute;
  inset-block-end: 18%;
  color: var(--color-inverted-primary);
  font: var(--font-accent);
}

.text2 {
  position: absolute;
  inset-block-start: 5%;
  inset-inline-end: 5%;
  color: var(--color-inverted-primary);
  font: var(--font-body-small);
}

.text_for_video {
  position: absolute;
  inset-block-end: 53%;
  display: block;
  margin-block: 0;
  margin-inline: auto;
  color: var(--color-inverted-primary);
  font: var(--font-accent);
  text-align: center;
}

.strip_rectangle {
  inline-size: 18px;
  block-size: 100%;
  margin-inline-end: 8px;
  background-color: var(--color-generic-active);
}

.strip_rectangle1 {
  inline-size: 18px;
  block-size: 100%;
  margin-inline-end: 8px;
  background-color: var(--color-generic-active);
  animation-name: long-rectangle;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.strip {
  position: absolute;
  inset-block-end: 46%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  inline-size: 88px;
  block-size: 4px;
}

.button_for_video {
  position: absolute;
  inset-block-end: 5%;
  inline-size: calc(100% - 8%);
  block-size: 45px;
  color: var(--color-inverted-primary);
}

.video_wrap {
  position: relative;
  content: '';
  display: flex;
  inline-size: 100%;
  block-size: 100vh;
  background-color: var(--color-black-out-light);
  overflow: hidden;
}

.video_bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.container_video {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  block-size: 100vh;
}

@keyframes long-rectangle {
  from {
    inline-size: 18px;
    background-color: var(--color-generic-active);
  }

  to {
    inline-size: 36px;
    background-color: var(--color-inverted-primary);
  }
}
