.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 16px;
  padding-inline: 20px;
  background: var(--color-black-out-heavy);
}

.link {
  color: var(--color-generic-active);
}

.active {
  color: var(--color-inverted-primary);
}
