.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  inline-size: 100%;
  margin-block-end: 76px;
  padding: 16px;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: var(--font-header-2);
}

.calendarIcon {
  inline-size: 36px;
  block-size: 36px;
  color: var(--color-generic);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  block-size: 100%;
  overflow-y: auto;
}

.events {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  block-size: 100%;
  overflow-y: auto;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.calendarWrapper {
  position: absolute;
  inset-inline: 16px;
  color: var(--color-primary);
  background-color: var(--color-inverted-primary);

  :global(.rdp-day) {
    padding-inline: 6px;
  }

  :global(.rdp-month_caption) {
    justify-content: center;
  }

  :global(.rdp-nav) {
    inset-inline: 0;
    justify-content: space-between;
  }
}

.hidden {
  display: none;
}
